# Public Site URL for SEO, OpenGraph & Sitemaps
NEXT_PUBLIC_SITE_URL=https://diyachanda.tech

# Google Search Console Verification Token
NEXT_PUBLIC_GOOGLE_VERIFICATION=DgWUYbYjs7ksUTmBAM02lYUhcDVcuZre7V3cTYHIlj4

# EmailJS Configuration for Next.js Server Action
# Server-side environment variables (Keep these secret and set in production / .env.local)
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
