# Public Site URL for SEO, OpenGraph & Sitemaps
SITE_URL=https://www.diyachanda.tech

# Google Search Console Verification Token
GOOGLE_VERIFICATION=DgWUYbYjs7ksUTmBAM02lYUhcDVcuZre7V3cTYHIlj4

# EmailJS Configuration for Next.js Server Action
# Server-side environment variables (Keep these secret and set in production / .env.local)
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
